.tag {
	/* Border radius */
	-moz-border-radius: 		15px 5px; 
	-webkit-border-radius: 		15px 5px;
	border-radius: 				15px 5px;

	/* Prevent background color leak outs */
	-webkit-background-clip:	padding-box; 
	-moz-background-clip:    	padding; 
	background-clip:         	padding-box;

	border: 					0px solid;
	background-color: 			#B3E5FF;
}